<html>
    <head>
        <style type="text/css">
            .comments {
             width:100%;/*自动适应父布局宽度*/
             overflow:auto;
             word-break:break-all;/*在ie中解决断行问题(防止自动变为在一行显示，主要解决ie兼容问题，ie8中当设宽度为100%时，文本域类容超过一行时，当我们双击文本内容就会自动变为一行显示，所以只能用ie的专有断行属性“word-break或word-wrap”控制其断行)*/
            }
            </style>
    </head>
    <body>
        <form action="/logout" method="GET">
            <input type="submit" value="注销">
        </form>
        <form action="/sendMsg" method="POST">
        {%for con in Conlist%}
            {%if con.canSend%}
                {%if  con.id in last%}
                <input type="checkbox" name = {{con.id}} checked = "true">{{con.title}}({{con.id}})<br/>
                {%else%}
                <input type="checkbox" name = {{con.id}}>{{con.title}}({{con.id}})<br/>
                {%endif%}
            {%else%}
                <strike>
                <input type="checkbox" name = {{con.id}} disabled="disabled">{{con.title}}({{con.id}})<br/>
                </strike>
            {%endif%}
        {%endfor%}
        <textarea class="comments" rows="10" cols="100" name = 'msg'>
        </textarea><br>
        <input type = 'submit' value="发送">
        </form>
    </body>

</html>    